<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body>
<div class="container mt-4">
<a th:href="@{/new}" class="btn btn-primary">Nuevo</a>
<table class="table">
	<thead>
	
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Teléfono</th>
				<th>Acciones</th>
			</tr>
			</thead>
		  	<tbody>
			<tr th:each="persona:${personas}">
				<td th:text="${persona.id}"></td>
				<td th:text="${persona.nombre}"></td>
				<td th:text="${persona.telefono}"></td>
				<td>
				<a class="btn btn-warning">Editar</a>
				<a class="btn btn-danger">Eliminar</a>
				
				</td>
			</tr>
		</tbody>
	

</table>
</div>
</body>
</html>