<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8">
	<title>Trivial Game</title>
	 <link rel="stylesheet" type="text/css" href="css/css.css">
	 <link rel="icon" href="images/trivial-favicon.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</head>
<body class="fondo">
<div class="container-fluid ">
	<!-- *** SECCION IZQUIERDA*** -->
	<div class="row fondo">
		<div class="col-6 ">
			<div class="card" style="border: 1px solid #fff;" >
				<div class="fondo text-center">
					<img th:src="@{images/header.png}" width="40%">
				</div>
				<div class="card-body ">
			  		<ul class="list-group list-group-flush ">
				    <li class="list-group-item text-center">Casilla Actual:<b th:text="${posicionActual}"/></b></li>
				    <li class="list-group-item text-center" th:unless="${posicion1 == null}" >
					    <form method="post" th:action="@{/index}" class="needs-validation" novalidate >
					        <div class="form-group">
					       			<div class="form-check form-check-inline">
									  <input class="form-check-input" required type="radio" id="posicion1" name="posicion" th:value="${posicion1}">
									  <label class="form-check-label"  for="posicion1">Mover a casilla <b th:text="${posicion1}" ></b></label>
									</div>
									<div class="form-check form-check-inline">
									  <input class="form-check-input" required type="radio" id="posicion2" name="posicion" th:value="${posicion2}">
									  <label class="form-check-label" for="posicion2">Mover a casilla <b th:text="${posicion2}"></b></label>
									</div>
					  					 <button  class="btn btn-primary" type="submit" id="enviarPosicionN" >Mover</button>
					  		</div>
		    			</form>
				   	</li>
				  
				   	
			<!-- **** SECCION DEL DADO **** --> 	
					<li class="list-group-item text-center">
						    <a th:href="#{llamarDado}" > 
							 	<span th:switch="${dado}">
								  <img th:case="null" th:src="@{images/rand.svg}" width="8%" >
					  				 <img th:case="0" th:src="@{images/rand.svg}" width="8%" >
									 <img th:case="1" th:src="@{images/1.svg}" width="7%">
									 <img th:case="2" th:src="@{images/2.svg}" width="7%">
									 <img th:case="3" th:src="@{images/3.svg}" width="7%">
									 <img th:case="4" th:src="@{images/4.svg}" width="7%">
									 <img th:case="5" th:src="@{images/5.svg}" width="7%">
									 <img th:case="6" th:src="@{images/6.svg}" width="7%">
								 </span>
							 </a>
					</li> 
					
				</ul>
					<!--  **** SECCION DE LAS PREGUNTAS  **** -->
					  <div th:if="${partida>1}" class="px-5" >
					  	<form method="post" th:action="@{/respuesta}" class="needs-validation" novalidate>
					        <div class="form-group">
					            <label><b th:text="${pregunta}"/></b></label>
					            <div class="form-check">
						            <div class="custom-control custom-radio custom-control-inline">
						                <input type="radio" required id="option1" name="respuesta" class="form-check-input" value="1" th:value="1">
						                <label class="custom-control-label" for="option1"><span th:text="${opcion1}"></span></label>
						            </div>
						            <div class="custom-control custom-radio custom-control-inline">
						                <input type="radio" required id="option2" name="respuesta" class="form-check-input" value="2" th:value="2">
						                <label class="custom-control-label" for="option2"><span th:text="${opcion2}"></span></label>
						            </div>
						            <div class="custom-control custom-radio custom-control-inline">
						                <input type="radio" required id="option3" name="respuesta" class="form-check-input" value="3" th:value="3">
						                <label class="custom-control-label" for="option3"><span th:text="${opcion3}"></span></label>
						            </div>
						            <div class="custom-control custom-radio custom-control-inline">
						                <input type="radio" required id="option4" name="respuesta" class="form-check-input" value="4" th:value="4">
						                <label class="custom-control-label" for="option4"><span th:text="${opcion4}"></span></label>
						            </div>
						        </div>
					        </div>
					  		<button class="btn btn-primary" type="submit"  id="botonRespuesta">Enviar respuesta</button>
		    			  </form>
		    			 </div>
					 
				</div>
		  
			<!-- **** SECCION DE MENSAJES **** -->
			 <div class="card-footer border border-danger text-center" th:unless="${mensaje == null}" >
				  	<h4  th:text="${mensaje}" /></h4>		
			</div>
			<!-- **** LEYENDA DE QUESITOS **** -->
			<div class="fondo text-center">
				<img th:src="@{images/categorias.png}" width="100%">
			</div>
			<!-- **** SECCION DE QUESITOS **** -->
			<div class="fondo" style="position: relative;">
				<img th:src="@{images/rueda_quesitos.png}" width="30%" class="rueda">
				<img th:if="${quesito_verde==true}" th:src="@{images/quesito_verde.png}" width="10%" class="quesito verde">
				<img th:if="${quesito_amarillo==true}" th:src="@{images/quesito_amarillo.png}" width="10%" class="quesito amarillo">
				<img th:if="${quesito_naranja==true}" th:src="@{images/quesito_naranja.png}" width="10%" class="quesito naranja">
				<img th:if="${quesito_morado==true}" th:src="@{images/quesito_morado.png}" width="10%" class="quesito morado">
				<img th:if="${quesito_azul==true}" th:src="@{images/quesito_azul.png}" width="10%" class="quesito azul">
				<img th:if="${quesito_rosa==true}" th:src="@{images/quesito_rosa.png}" width="10%" class="quesito rosa">
			</div>
		</div>
		
	<!-- *** FIN SECCION IZQUIERDA*** -->
	</div>
		<!--	****TABLERO **** -->
	  	<div class="col-6">
		  	<div>
		  		<img th:src="${avatar}" width="10%"> <span th:text="${nombre}"></span>
		  		<a th:href="@{/listar}" class="btn btn-primary text-end">Jugadores</a>
		  	</div>
	  		<img th:src="@{images/tablero.png}" class="img-fluid my-auto" width="85%">
	 	</div>
	 	<!-- *** FIN DE CONTAINER*** -->
		</div>
</div>
<script>

(function () {
	  'use strict'

	  // Fetch all the forms we want to apply custom Bootstrap validation styles to
	  var forms = document.querySelectorAll('.needs-validation')

	  // Loop over them and prevent submission
	  Array.prototype.slice.call(forms)
	    .forEach(function (form) {
	      form.addEventListener('submit', function (event) {
	        if (!form.checkValidity()) {
	          event.preventDefault()
	          event.stopPropagation()
	        }

	        form.classList.add('was-validated')
	      }, false)
	    })
	})()

</script>
</body>
</html>