<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8">
	<title>Trivial Game</title>
	 <link rel="stylesheet" type="text/css" href="css/css.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
</head>
<body >
 <div class="container-fluid ">
 	<div class="row">
		<div class="col-6">
			<div class="card " style="border: 1px solid #fff;" >
				<img th:src="@{images/header.png}" width="100%">
			</div>
		</div>
		<div class="col-6">
	  			<img th:src="@{images/tablero.png}" class="img-fluid my-auto" width="85%">
	 	</div>
	 	<!-- *** FIN DE CONTAINER*** -->
	</div>
 
 </div>
 
 
 
 
 
        <!-- Modal -->
<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"><img th:src="@{images/tablero.png}" class="img-fluid my-auto" width="8%">Trivial Game</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form th:action="@{/index}">
         <h2  th:text="${mensaje}" class="color-white"/></h2>
        </div>
        <div class="modal-footer">
        <button type="submit" th:formaction="@{/index}" class="btn btn-primary" data-bs-dismiss="modal" >Volver al juego</a>
        </div>
        </form>
      </div>
    </div>
  </div>
<!--script para javascript para que carga el modal -->
<script>
       
   $(document).ready(function()
   {
      $("#staticBackdrop").modal("show");
   });
</script>
</body>
</html>