.oculto{
	display:none;
}

.rueda{
  position:relative;
  z-index: 0;
  left: 35%;
}

.quesito
{
  position:absolute;
  z-index: 1;
}

.verde{
	right: 50%;
	bottom: 56%;
}
.amarillo{
	right: 40%;
	bottom: 56%;
}
.naranja{
	right: 52%;
	bottom: 36%;
}
.morado{
	right: 50%;
	bottom: 13%;
}
.azul{
	right: 38%;
	bottom: 36%;
}
.rosa{
	right: 40%;
	bottom: 13%;
}




.ficha1,.ficha2 {
  border: 0px;
  border-radius:50px;
  width: 20px;
  height: 20px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: red;}
  100% {background-color: yellow;}
}

.ficha1 {
 position:absolute;
 top: 150px;
 left: 75%;
 right: 20%;
  	
}


.h-custom {
			height: calc(100% - 73px);
			}
			
.footer {
  background-color: #00003A;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: white;

}
.fondo{
	background-color:#E5EEFE;
}
.btn-primary{
	background-color: #00003A !important;
}
	.divider:after,
			.divider:before {
			content: "";
			flex: 1;
			height: 1px;
			background: #eee;
			}
			.h-custom {
			height: calc(100% - 73px);
			}
			@media (max-width: 450px) {
			.h-custom {
			height: 100%;
			}
			}
			
		@keyframes rotate {from {transform: rotate(0deg);}
			    to {transform: rotate(360deg);}}
			@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
			  to {-webkit-transform: rotate(360deg);}}
			#tablero,#tablero2{
			    -webkit-animation: 7s rotate linear infinite;
			    animation: 7s rotate linear infinite;
			    -webkit-transform-origin: 50% 50%;
			    transform-origin: 50% 50%;
			}
			#tablero,#tablero2{
			position:relative;left:350px;top:20px;
			width:45%;
			}
			#error{
			position:absolute;left:350px;top:300px;
			width:45%;
			z-index:1;
			}